body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position-y: center;
    background-size: cover;
    margin:0;
    background-image:url(palin.png);

}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

input {
    padding: 10px;
    width: 200px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 1.2em;
}